{% extends "base.html" %}

{% block content %}
<section class="content-header">
</section>
<section class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="box box-primary">
                <table id="convs-panel" class="table table-striped table-hover">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div> <!-- /.box -->
        </div>
        <div class="col-md-9">
            <div class="box box-primary shadow-borders box-flat" style="cursor: move">
                <div class="box-header ui-sortable-handle" style="cursor: move;">
                    <i class="fa fa-outdent"></i>

                    <h3 class="box-title">Request</h3>

                    <div class="box-tools pull-right" data-toggle="tooltip" title="" data-original-title="Status">
                        <div class="btn-group" data-toggle="btn-toggle">
                            <button type="button" class="btn btn-default btn-flat btn-sm active reload-request-body">auto</button>
                            <button type="button" class="btn btn-default btn-flat btn-sm reload-request-body">hex</button>
                        </div>
                    </div>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6 zoomable" id="request-primary"></div>
                        <div class="col-md-6 zoomable" id="request-secondary"></div>
                    </div>
                </div>
            </div>

            <div class="box box-primary shadow-borders" style="cursor: move">
                <div class="box-header ui-sortable-handle" style="cursor: move;">
                    <i class="fa fa-indent"></i>
                    <h3 class="box-title">Response</h3>
                    <div class="box-tools pull-right" data-toggle="tooltip" title="" data-original-title="Status">
                        <div class="btn-group" data-toggle="btn-toggle">
                            <button type="button" class="btn btn-default btn-sm btn-flat active reload-response-body">auto</button>
                            <button type="button" class="btn btn-default btn-sm btn-flat reload-response-body">hex</button>
                        </div>
                    </div>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6 zoomable" id="response-primary"></div>
                        <div class="col-md-6 zoomable" id="response-secondary"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- zoom modal -->
<div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="modal-label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="dialog-title"></h4>
            </div>
            <div id="dialog-content" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-flat" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- filter modal -->
<div class="modal fade" role="dialog" id="profile-dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Profiles</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 profile-list">
                    </div>
                    <div class="form col-md-9">
                        <div class="form-group">
                            <label for="profile-name" class="control-label">Name:</label>
                            <input class="form-control input-lg" id="profile-name">
                        </div>

                        <div class="form-group">
                            <label for="mime-rules" class="control-label">MIME Filters:</label>
                            <div>
                                <textarea class="form-control" id="mime-rules" placeholder="" autocomplete="off" rows="4">
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="host-rules" class="control-label">Host Filters:</label>
                            <div class="">
                                <textarea class="form-control" id="host-rules" placeholder="" autocomplete="off" rows="4">
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="host-mappings" class="control-label">Host Mappings:</label>
                            <div class="">
                                <textarea class="form-control" id="host-mappings" placeholder="" autocomplete="off" rows="4">
                                </textarea>
                            </div>
                        </div>
                    </div> <!-- /form-horizontal -->

                </div> <!-- /row -->
            </div> <!-- /modal-body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger btn-flat" onclick="return profile.remove(this);">Remove</button>
                <button type="button" class="btn btn-success btn-flat" onclick="return profile.create(this);">New</button>
                <button type="button" class="btn btn-primary btn-flat" onclick="return profile.save(this);">Save</button>
            </div>
        </div>

    </div>
</div>

{% end %}

{% block script %}
<script type="text/template" id="t_conversation">
    <tr>
        <td class="row">
            <div class="col-sm-3 http_status_<%- status_class %> labal center http_method_<%- method %>">
                <b><%- method %></b><br>
                <%- status_code %>
            </div>
            <div class="col-sm-9">
                <p class="breakword">
                    <%- host %><span># <%- id %><span>
                </p>
                <p class="extra">
                    <i data-toggle="tooltip" data-placement="right" title="<%- uri %>"><%- short_uri %></i>
                </p>
            </div>
        </td>
    </tr>
</script>
<script>

 function textarea(content) {
     return '<textarea class="form-control content-area" readonly="yes">' + content + '</textarea>';
 }

 function image(url) {
     return '<img style="max-width: 100%; max-height: 240px" src="' + url + '">'
 }

 function reload_request_body(id, mode) {
     if (mode == 'raw') {
         $.getJSON('/api/v1/requests/' + id + '/body')
          .done(function (resp) {
              container = $('#request-secondary');
              content = resp.body;
              container.html(textarea(content));
          });
     } else if (mode == 'hex') {
         $.getJSON('/api/v1/requests/' + id + '/body/hex')
          .done(function (resp) {
              container = $('#request-secondary');
              content = resp.body;
              container.html(textarea(content));
          });
     } else {
         $.getJSON('/api/v1/requests/' + id + '/body/auto')
          .done(function (resp) {
              container = $('#request-secondary');
              content = resp.body;
              container.html(textarea(content));
          });
     }
 }

 function reload_response_body(id, mode) {
     var container = $('#response-secondary');
     if (mode == 'raw') {
         $.getJSON('/api/v1/responses/' + id + '/body')
          .done(function (resp) {
              content = resp.body;
              container.html(textarea(content));
          });
     } else if (mode == 'hex') {
         $.getJSON('/api/v1/responses/' + id + '/body/hex')
          .done(function (resp) {
              content = resp.body;
              container.html(textarea(content));
          });
     } else {
         $.getJSON('/api/v1/responses/' + id + '/body/auto')
          .done(function (resp) {
              if (resp.mimetype.substr(0, 6) == 'image/') {
                  container.html(image('/api/v1/responses/' + id + '/body/raw'));
              } else {
                  content = resp.body;
                  container.html(textarea(content));
              }
          });
     }
 }

 var header = {
     show: function(id) {
         $.getJSON('/api/v1/requests/' + id)
          .done(function (resp) {
              container = $('#request-primary');
              headers = new Array();
              content = resp.method + ' ' + resp.uri + '\r\n'
              _.each(resp.headers, function(val, name) {
                  headers.push(name + ': ' + val);
              });
              headers.sort();
              content += headers.join('\r\n');
              container.html(textarea(content));
          });

         $.getJSON('/api/v1/responses/' + id)
          .done(function (resp) {
              container = $('#response-primary');
              headers = new Array();
              _.each(resp.headers, function(val, name) {
                  headers.push(name + ': ' + val);
              });
              headers.sort();
              content = headers.join('\r\n');
              container.html(textarea(content));
          });

         reload_request_body(id, 'auto');
         reload_response_body(id, 'auto');
         $('.reload-request-body').removeClass('active');
         $('.reload-response-body').removeClass('active');
         $('.reload-request-body').first().addClass('active');
         $('.reload-response-body').first().addClass('active');
     }
 }

 var conversation = {

     cursor: -100,
     current_id: -1,
     error_sleep_sec: 1,
     container: $('#convs-panel tbody'),
     t_row: _.template($('#t_conversation').html()),
     hostnames: [],
     max_uri_length: 30,
     poll: function() {
         $.getJSON('/api/v1/conversations',
                   {start: conversation.cursor})
          .done(function(resp) {
              conversation.cursor = resp.start;
              _.each(resp.data, function(item) {
                  item['status_class'] = Math.floor(parseFloat(item['status_code']) / 100);
                  if (item['uri'].length > conversation.max_uri_length) {
                      item['short_uri'] = item['uri'].substr(0, conversation.max_uri_length) + ' ...';
                  } else {
                      item['short_uri'] = item['uri']
                  }
                  var row = $(conversation.t_row(item));
                  $(row).click(function() {
                      $('#convs-panel tr').removeClass('selected');
                      $(this).addClass('selected');
                      conversation.current_id = item.id;
                      header.show(item.id);
                  });
                  conversation.container.prepend(row);
              });
              window.setTimeout(conversation.poll, 1000);
          })
          .fail(function() {
              console.log('data polling failed. sleep ' +
                          conversation.error_sleep_sec +
                          ' seconds before retry');
              window.setTimeout(conversation.poll, conversation.error_sleep_sec * 1000);
              if (conversation.error_sleep_sec < 16)
                  conversation.error_sleep_sec = conversation.error_sleep_sec * 2;
          });
     },
     apply_filter: function() {
     },
     reload: function() {
         conversation.container.empty();
         conversation.cursor = -100;
     },
     init: function() {
         profile.reload($('#profile-dialog .profile-list'), conversation.profile);
     }
 };

 var profile = {

     reload: function(active) {
         plist = $('#profile-dialog .profile-list');
         pmenu = $('#profile-menu');
         $.getJSON('/api/v1/profiles').done(function(resp) {
             plist.empty();
             pmenu.empty();
             _.each(resp.profiles, function(item) {
                 var btn = $('<button class="btn btn-block btn-flat btn-default" data-profile-id=' + item.id + '>' + item.name + '</button>');
                 var menu = $('<li data-profile-id=' + item.id + '><a href="#">' + item.name + '</a></li>');
                 menu.click(function() {
                     var profile_id = $(this).data('profile-id');
                     $.post('/api/v1/profiles/' + profile_id + '/set')
                      .done(function() {
                          conversation.reload();
                      });
                     profile.show_current();
                 });
                 btn.click(function() {
                     var profile_id = $(this).data('profile-id');
                     plist.children('button').removeClass('btn-primary');
                     $(this).addClass('btn-primary');
                     conversation.profile = profile_id;
                     $.getJSON('/api/v1/profiles/' + profile_id, function(item) {
                         $('#profile-name').val(item.name);
                         $('#mime-rules').val(item.mime_rules);
                         $('#host-rules').val(item.host_rules);
                         $('#host-mappings').val(item.host_mappings);
                     });
                 });
                 pmenu.append(menu);
                 plist.append(btn);
                 if (active == item.name)
                     btn.click();
             });
             pmenu.append('<li class="divider"></li>');
             pmenu.append('<li><a id="profile-edit-button" data-target="#profile-dialog" data-toggle="modal" href="#">Edit Profiles</a></li>');
             profile.show_current();
         });
     },

     show_current: function() {
         $.getJSON('/api/v1/profiles/current').done(function(resp) {
             $('#current-profile-name').html(resp.name);
         });
     },

     save: function(btn) {
         var selected = $('#profile-dialog .profile-list .btn-primary');
         $.post('/api/v1/profiles/' + selected.data('profile-id'),
                 JSON.stringify({
                     name: $('#profile-name').val(),
                     mime_rules: $('#mime-rules').val(),
                     host_rules: $('#host-rules').val(),
                     host_mappings: $('#host-mappings').val()
                 })
         ).done(function(resp) {
             profile.reload(selected.data('profile-id'));
             conversation.reload();
         });
     },

     remove: function(btn) {
         var confirmed = confirm('are you sure?');
         if (!confirmed)
             return;
         var selected = $('#profile-dialog .profile-list .btn-primary');
         $.ajax({url: '/api/v1/profiles/' + selected.data('profile-id'), method: 'DELETE'})
          .done(function(resp) {
              var first = $('#profile-dialog .profile-list button:first');
              profile.reload(first.data('profile-id'));
          });
     },

     create: function(btn) {
         var selected = $('#profile-dialog .profile-list .btn-primary');
         $.post('/api/v1/profiles',
                JSON.stringify({
                    name: 'new profile',
                    mime_rules: '',
                    host_rules: '',
                    host_mappings: '',
                })
         ).done(function(resp) {
             profile.reload(resp.id);
         });
     },

 };

 $('.reload-request-body').click(function() {
     var mode = $(this).text().toLowerCase();
     if (conversation.current_id > -1) {
         reload_request_body(conversation.current_id, mode);
         $('.reload-request-body').removeClass('active');
         $(this).addClass('active');
     }
 });

 $('.reload-response-body').click(function() {
     var mode = $(this).text().toLowerCase();
     if (conversation.current_id > -1) {
         reload_response_body(conversation.current_id, mode);
         $('.reload-response-body').removeClass('active');
         $(this).addClass('active');
     }
 });

 $('.zoomable').dblclick(function() {
     var content = $(this).html();
     $('#dialog-content').html(content);
     $('#dialog-content').children('img').css('min-height', '640px');
     var ta = $('#dialog-content').children('textarea');
     ta.css('min-height', '640px').css('resize', 'none').attr('readonly', 'yes');
     $('#dialog').modal();
 });

 conversation.init();
 conversation.poll();

 $('.checkbox').iCheck({
     checkboxClass: 'icheckbox_minimal-blue',
 });

 $('#profile-dialog').on('show.bs.modal', function (e) {
     profile.reload($('#current-profile-name').html());
 });

 $(document).ready(function() {
 });

</script>
{% end %}
