.selected {
  background-color: #3c8dbc !important;
  color: white;
}
.selected i {
  color: #ccc;
}

.content-area {
  resize: none;
  min-height: 310px;
  font-family: monospace;
}

.shadow-borders {
  /* box-shadow: 0px 0px 4px #333; */
}

.breakword {
  word-break: break-all;
  word-wrap:break-word;
}

.hidden {
  display: none;
}

#convs-panel {
  border: 1px solid #ccc;
  background-color: #fcfcfc;
}

#convs-panel td span {
  display: inline-block;
  position: absolute;
  right: .5em;
  color: #ccc;
}
#convs-panel td p {
  line-height: 1.5em;
  margin: 0;
}
#convs-panel td p.extra {
  color: #666;
  word-break: break-all;
  word-wrap:break-word;
}
#convs-panel .http_status {
  text-align: center;
  color: #555;
  padding: 0;
  font-family: monospace;
}

#convs-panel tbody tr {
  cursor: pointer;
  display: block;
}

#convs-panel thead {
  width: 100%;
  border: 0;
}
#convs-panel tbody {
  border: 0;
  height: 768px;
  display: block;
  width: 100%;
  overflow: auto;
}
#convs-panel thead th {
  border: 0;
}
#convs-panel tbody td {
  margin-left: 0;
  width: 100%;
  display: block;
  border-bottom: 1px solid #eee;
}


#header-panel th {
  width: 192px;
}
